# Python
__pycache__
__init__.pyc
**/*.pyc

# pytest
.pytest_cache/
.cache/

# thirdparty
thirdparty/miniconda/miniconda

# datasets
*.rna
data/eterna/interim/*.txt
data/eterna/raw/*.txt

# examples
results/
